<!DOCTYPE html>
<html lang="es">
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<link rel="shortcut icon" type="image/x-icon" href="/static/img/l.png" />

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/freelancer2.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/static/css/scrolling-nav.css" rel="stylesheet">

  <link href="/static/css/jquery.json-viewer.css" rel="stylesheet"></li>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	


	{% block content %}

	{% endblock %}

	{% include 'footer.html' %}
 
  <!-- jQuery -->
  <script src="/static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>

  <script src="/static/js/jquery.json-viewer.js"></script>

  <!-- Scrolling Nav JavaScript -->
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/scrolling-nav.js"></script>

</body>
</html>