<section id="choose" class="services-section">
  <div class="container">
    <div class="row">   
      <div class="container">
        <br><br><br>
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 home-about-left">
            <div style="text-align: center">
              <img style="width: 400px; height: 350px" class="img-fluid" src="static/img/livingroom.png" alt="Sala de Estar">
            </div>
            <br><br><br>
            <form>
              <div class="form-group" style="text-align: center">
                <a class="btn btn-primary btn-xl" href="/goToIndoor">
                  <i class="fas fa-download mr-2"></i>
                  Indoor
                </a>
              </div>  
            </form>
          </div>
          <div class="col-lg-6 home-about-right">
            <div style="text-align: center">
              <img style="width: 400px; height: 350px" class="img-fluid" src="static/img/park.png" alt="Um Parque">
            </div>  
            <br><br><br>
            <form>
              <div class="form-group" style="text-align: center">
                <a class="btn btn-primary btn-xl" href="/goToOutdoor">
                  <i class="fas fa-download mr-2"></i>
                  Outdoor
                </a>
              </div>  
            </form>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>