<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav" style="background-color: #EF6C00">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Ziwi</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/goToIndoor">Indoor</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/goToOutdoor">Outdoor</a>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>



<section id="choose" class="services-section">

  <div class="container">
    <div class="row">   
      <div class="container">
        <br><br><br><br><br><br><br>
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 home-about-left">
            <div style="text-align: center">
              <img style="width: 400px; height: 350px" class="img-fluid" src="static/img/livingroom.png" alt="Sala de Estar">
            </div>
            <br><br><br>
            <form>
              <div class="form-group" style="text-align: center">
                <a class="btn btn-primary btn-xl" href="/goToIndoor">
                  <i class="fas fa-download mr-2"></i>
                  Indoor
                </a>
              </div>  
            </form>
          </div>
          <div class="col-lg-6 home-about-right">
            <div style="text-align: center">
              <img style="width: 400px; height: 350px" class="img-fluid" src="static/img/park.png" alt="Um Parque">
            </div>  
            <br><br><br>
            <form>
              <div class="form-group" style="text-align: center">
                <a class="btn btn-primary btn-xl" href="/goToOutdoor">
                  <i class="fas fa-download mr-2"></i>
                  Outdoor
                </a>
              </div>  
            </form>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>
