<section>
	<div class="container">
		<div class="row" style="text-align: center;">
			<div class="col-lg-12">
				<img src="/static/img/error.png" class="img-fluid" alt="Ilustração de Mensagem de Erro">
				<br><br>
				<h1>Houve algum erro !</h1>
				<br><br>
				<h3>Por favor verifique se:</h3>
				<ul class="list-group">
  					<li class="list-group-item">Todos os Campos dessa Ação foram preenchidos</li>
  					<li class="list-group-item">O Formato das Informações Inseridas está Correto</li>
 					<li class="list-group-item">Os Arquivos Inseridos estão no Formato Ziwi</li>
 					<li class="list-group-item">Verifique se Todos os Itens Existem</li>
				</ul>
				<br><br>
				<h3>Para mais informações acesse as instruções do site</h3>
				<form action="#" method="POST" role="form">
              		<button type="submit" class="btn btn-secondary btn-xl">Instruções</button>
            	</form> 
			</div>
		</div>
	</div>
	<br>
</section>