<section id="modelos" style="background-color: #FFF"> 
	<div class="container" style="margin-top: 80px">
		<div style="text-align: center;">
			<form action="indoor" method="POST" enctype="multipart/form-data">
            	<div class="row">
                	<div class="col-lg-6">
                  		<label><strong>Largura Máxima da Sala (m)</strong></label>
                  		<input step="any" type="number" id="xt" name="xt" class="form-control">
                	</div>
                	<div class="col-lg-6">
                  		<label><strong>Comprimento Máximo da Sala (m)</strong></label>
                  		<input step="any" type="number" id="yt" name="yt" class="form-control">
                	</div>
              	</div>
              	<br>
            	<div class="row">
                	<div class="col-lg-6">
                  		<label><strong>Eixo X dos Roteadores (m)</strong></label>
                  		<input type="text" id="x0" name="x0" class="form-control" placeholder="Ex: 5.5,8,7.3">
                  		<small style="color: red">Adicione os roteadores depois de vírgulas e não coloque espaço</small>
                	</div>
                	<div class="col-lg-6">
                  		<label><strong>Eixo Y dos Roteadores (m)</strong></label>
                  		<input type="text" id="y0" name="y0" class="form-control" placeholder="Ex: 5.5,8,7.3">
                  		<small style="color: red">Adicione os roteadores depois de vírgulas e não coloque espaço</small>
                	</div>
              	</div>
              	<br>
              	<div class="row">
                	<div class="col-lg-6">
                  		<label><strong>Potência Recebida no Ponto d0 (m)</strong></label>
                  		<input step="any" type="ptd0" id="ptd0" name="ptd0" class="form-control">
                	</div>
                	<div class="col-lg-6">
                  		<label><strong>Distância Mínima (m)</strong></label>
                  		<input step="any" type="number" id="d0" name="d0" class="form-control" value="1">
                	</div>
              	</div>
              	<br>
              	<div class="row">
                	<div class="col-lg-6">
                  		<label><strong>Potência de Transmissão (dBm)</strong></label>
                  		<input step="any" type="number" id="ptdb" name="ptdb" class="form-control" value="15">
                	</div>
                	<div class="col-lg-6">
                  		<label><strong>Frequência (MHz)</strong></label>
                  		<input step="any" type="number" id="fq" name="fq" class="form-control" value="2400">
                	</div>
              	</div>
              	<br>
              	<div class="row">
                	<div class="col-lg-4">
                  		<label><strong>Ganho da Antena Transmissora (dB)</strong></label>
                  		<input step="any" type="number" id="gt" name="gt" class="form-control" value="1">
                	</div>
                	<div class="col-lg-4">
                  		<label><strong>Ganho da Antena Receptora (dB)</strong></label>
                  		<input step="any" type="number" id="gr" name="gr" class="form-control" value="1">
                	</div>
                	<div class="col-lg-4">
                  		<label><strong>Largura de Banda (MHz)</strong></label>
                  		<input step="any" type="number" id="bmhz" name="bmhz" class="form-control" value="20">
                	</div>
              	</div>
              	
              	<br><br>
              	<div class="row">
                  <div class="col-lg-3">
                    <label><strong>Ambiente</strong></label>
                    <select class="form-control" id="nameAmbiente" name="nameAmbiente">
                      <option>----------</option>
                      <option>Corredor</option>
                      <option>Ambientes Grandes e Vazios</option>
                      <option>Ambientes Mobiliados</option>
                      <option>Ambientes Demasiadamente Mobiliados</option>
                    </select>
                  </div>
              		<div class="col-lg-3">
              			<div class="form-group">
             				  <label><strong>Arquivo com as Medições (.txt)</strong></label>
              				<input type="file" class="form-control-file" name="myfileIN">
                      <small>(Opcional, caso defina o ambiente)</small>
            			  </div>
              		</div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label><strong>Inserir o Arquivo com as Paredes (.txt)</strong></label>
                      <input type="file" class="form-control-file" name="paredes">
                      <small>(Opcional, exceto para o Motley Keenan)</small>
                    </div>
                  </div>
              		<div class="col-lg-3">
                  	<label><strong>Modelo</strong></label>
                  	<select class="form-control" id="nameModels" name="nameModels">
      						    <option>Motley Keenan</option>
      						    <option>Close IN</option>
      						    <option>Floating Interception</option>
      						    <option>ITU-R P.1238-8</option>
   						      </select>
                	</div>
              	</div>
                <br>
                <div class="row" style="text-align: center">
                  <div class="col-lg-12">
                      <button type="submit" class="btn btn-primary btn-xl">Simular</button>   
                  </div>
                </div>
			</form>
		</div>
	</div>
	<br><br><br><br><br><br>
</section>
