<!-- Flask Section -->
<section id="site" class="services-section" style="background-color: #dbdbdb">
  <br><br><br><br><br><br><br><br><br>
  <div class="container">
    <div class="row">   
      <div class="container"> 
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 home-about-left" style="text-align: center">
            <img style="width: 400px; height: 350px" class="img-fluid" src="static/img/pc.png" alt="A Página Principal do Site">
          </div>
          <div class="col-lg-6 home-about-right">
            <br><br>
            <h1>O Site</h1>
            <p>
              Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
            <form>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Instruções</button>
              </div>  
            </form>
            <a class="btn btn-xl btn-outline-dark" href="/choose">
              <i class="fas fa-download mr-2"></i>
              Vá para o site
            </a>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
</section>


