<!-- Flask Section -->
<section id="site" class="services-section" style="background-color: #dbdbdb">
  <br><br><br><br><br><br><br><br><br>
  <div class="container">
    <div class="row">   
      <div class="container"> 
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 home-about-left" style="text-align: center">
            <img style="width: 400px; height: 350px" class="img-fluid" src="static/img/pc.png" alt="A Página Principal do Site">
          </div>
          <div class="col-lg-6 home-about-right">
            <br><br>
            <h1>O Site</h1>
            <p>
              O site do Ziwi é capaz de realizar comparação entre os principais modelos indoor e outdoor. Calcular expoente de perda e desvio de padrão. Gerar mapa de calor de todos os
modelos indoor disponíveis, os quais mostram os valores de potência recebida, perda de
percurso, SNR, SINR, intensidade do campo elétrico e capacidade do sinal. No próprio
software é possível desenhar o cenário que deseja simular. Além de poder otimizar o
cenário através do algoritmo genético, considerando ou não a posição das tomadas do ambiente.
            </p>
            <form>
              <h4>Instruções</h4>
                <div class="row">
                  <button type="submit" class="btn btn-primary btn-xl" style="margin-left: 15px" onclick="window.open('downSite')">Baixar</button>
                  <a class="btn btn-xl btn-primary" href="#"  style="margin-left: 15px" onclick="window.location.href='https://1drv.ms/b/s!Ahl8DHSTZfirnOVUQ6jzVGBcW24CJA'">
                      <i class="fas fa-download mr-2"></i>
                      Online
                  </a>
                </div>
            </form>
            <br>
            <a class="btn btn-xl btn-outline-dark" href="/choose">
              <i class="fas fa-download mr-2"></i>
              Vá para o site
            </a>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
</section>

<script type="text/javascript">
  function downloadFile() {

  
</script>
