<section id="vr" class="about-section">
  <br><br><br><br><br><br><br><br><br>
  <div class="container">
    <div class="row">   
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 home-about-left" style="text-align: center">
            <img style="width: 600px; height: 400px" class="img-fluid" src="static/img/vr.png" alt="Óculos de Realidade Virtual">
          </div>
          <div class="col-lg-6 home-about-right">
            <br><br>
            <h1>Realidade Virtual</h1>
              <p>
                O aplicativo VR do Ziwi é capaz de simular ambientes e mostrar a visualização do mapa
de calor dos mesmos para o usuário, informando o eixo X, Y e a perda do ponto em que o
usuário está examinando. No software também é possível andar pelo cenário para fazer as
observações mais de perto. 
              </p>
              <form>
              <h4>Instruções</h4>
                <div class="row">
                  <button type="submit" class="btn btn-primary btn-xl" style="margin-left: 15px" onclick="window.open('downVR')">Baixar</button>

                  <a class="btn btn-xl btn-primary" href="#"  style="margin-left: 15px" onclick="window.location.href='https://1drv.ms/b/s!Ahl8DHSTZfirnOVSb730DvhrlM1qfw'">
                      <i class="fas fa-download mr-2"></i>
                      Online
                  </a>
                </div>
            </form>
            <br>
              <a class="btn btn-xl btn-outline-dark" href="#" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.lidiaxp.ziwivr&hl=pt_BR'">
                <i class="fas fa-download mr-2"></i>
                Baixe o Aplicativo
              </a>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
</section>
